@import "tailwindcss";
@import "@repo/tailwind-config";
@import "@repo/ui/styles.css";



 @layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    }

